* 
{
    margin: 0; 
    padding: 0;
}

body
{
    padding: 0px;
    font-family: Montserrat, sans-serif;
  
}

.logo
    {
        padding: 30px;
    }
    
    .title 
    {
      padding: 30px;
    }
    
    h1,h2
    {
      font-style: normal;
      font-weight: bold;
      padding: 0px;
      margin: 0px;
      text-align: inherit;
      font-size: 45px; 
      color: #0B2A1E;
  
    }

    .filter 
    {
        padding: 20px;
        margin: 5px;
    }

    .care 
    {    
        color: #848484;
        margin: 3%;
        margin-right: 75px;
        
    }

    .custom-select
    {   
        width: 200px;
        height:35px;
        border-radius: 15%;
        border-color: #A8A8A8;
        color: #A8A8A8;
        margin: 10%;
        margin-top: 5%;
        
     
    }
    
    .caution
    {
       color: #6E6E6E;
       background-color: #F2F2F2


    }
     
    .hand 
    {

      padding: 30px;
    }

    p
    {
        font-style: normal;
        padding: 15px;
        margin: 15px;
        margin: 0px;
        text-align: left;
        font-size: 14px; 
        color: #797979;
    }

    .last_container
    {
        justify-content: left;
        padding: 30px
     
    }
    
    .top
    {
        align-items: center;
    }
    .come_back
    {
        align-items: center;
        border-color: #15573F;
        color: #196146;
        border-radius: 30px;
        margin: 20%;
        padding: 5%;
    }

    .product
    {
       padding: 10px;
       margin: 5%;
       background-color: white;

    }

    .sub_title
    {
        color: #0B2A1E;
        font-size: large;
        font-weight: bold;
    }