* 
{
    margin: 0; 
    padding: 0;
}

body
{
    padding: 0px;
    font-family: Montserrat, sans-serif;
  
}

.logo
    {
        padding: 30px;
    }
    
    .title 
    {
      padding: 30px;
    }
    
    h1,h2
    {
      font-style: normal;
      font-weight: bold;
      padding: 0px;
      margin: 0px;
      text-align: inherit;
      font-size: 45px; 
      color: #0B2A1E;
  
    }

    .filter 
    {
        padding: 20px;
        margin: 5px;
    }

    .care 
    {    
        color: #848484;
        margin: 3%;
        margin-right: 75px;
        
    }

    .custom-select
    {   
        width: 200px;
        height:35px;
        border-radius: 15%;
        border-color: #A8A8A8;
        color: #A8A8A8;
        margin: 10%;
        margin-top: 5%;     
    }
    
    .caution
    {
       color: #6E6E6E;
       background-color: #F2F2F2
    }
     
    .hand 
    {
      padding: 30px;
    }

    p
    {
        font-style: normal;
        padding: 15px;
        margin: 15px;
        margin: 0px;
        text-align: left;
        font-size: 14px; 
        color: #797979;
    }

    .last_container
    {
        justify-content: left;
        padding: 30px  
    }
    
    .top
    {
        align-items: center;
        margin-top: -10%;
        padding: 10%;
    }

    .come_back
    {
        align-items: center;
        border-color: #15573F;
        color: #196146;
        border-radius: 30px;
        margin: 20%;
        padding: 5%;
    }

    .product
    {
       padding: 10px;
       margin: 5%;
       background-color: white;
       flex: 0 0 auto; 
    }

    .sub_title
    {
        color: #0B2A1E;
        font-size: large;
        font-weight: bold;
    }

    .value_product
    {
        color: #0B2A1E;
        font-weight: bold; 
    }

    .containers 
    {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar; 
      }


@media screen and (min-width: 768px)
{
   
    .logo
    {
      padding: 70px;
    }

    h1,h2
    {
        margin-top: -10%;
        padding: 5%;
    }

    .filter 
    {
        padding: 45px;
        margin: 5px;
    }

    .filter > * {
        width: 50%; 
        margin: 0 auto;
    }

    .top
    {
        align-items: center;
        margin-top: -20%;
        padding: 10%;
    }

    .come_back
    {
        margin: 35%;
        padding: 2%;
    }
}
    
@media screen and (min-width: 1024px)
{
    .come_back
    {
        width: 100%;
        margin: 0;
        margin-top: 15%;
        padding: 3%;
    }
    .logo
    {
        padding: 90px;
    }

    .filter
    {
        display: inline-flex;
    }

    .filter-container {
        display: inline-block;
    }
    .containers {
        display: block;
    }

    .product {
        display: inline-block;
        width: 21%;
    }

    .icons_product > p.value_product{
        display: inline-block;
        padding-right: 40%;
    }
    

    
}