*
.body
{
    padding: 2px;
  
}

@media only screen and (max-width:770px) 
{    
    .logo
    {
        padding: 30px;
    }

    .filter 
    {
        padding: 20px;
        margin: 5px;
    }

    .care 
    {
        font-family: Montserrat;
        color: #848484;
        font-weight: bold;
        
    }

    .search_text
    {   
        font-family: Montserrat, sans-serif;
        width: 150px;
        height:50px;
        border-radius: 2%;
    }
    
    .title 
    {
      padding: 30px;
    }
    
    
    h1 
    {
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: bold;
      padding: 0px;
      margin: 0px;
      text-align: inherit;
      font-size: 45px; 
      color: #0B2A1E;
  
    }
};